{% extends 'base.html' %}
{% load static %}
{% block content %}                     
{% include 'navbar.html' %}
{{block.super}}
  <script>
    // JavaScript code to add 'active' class to the element with ID 'home-nav'
    const homeNav = document.getElementById('admissions-nav');
    if (homeNav) {
        homeNav.classList.add('active');
        console.log("Add class");
    }
  </script>
  <style>
    .sub-header{
      background-attachment: fixed;
      background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("{% static 'images/pexels-pixabay-159213.jpg' %}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 250px;
    }
  </style>
  <section class="sub-header">
    <div class="container">
      <div class="row">
        <div class="carousel-container">
          <div class="carousel-topics container">
            <br> <br> <br> <br><br>
            <h1 class="carousel-heading-topics"><span>ADMISSIONS</span></h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ---adm requirments-- -->
  <section class="adm-requirments">
    <div class="container">
      <div class="row">
        <div class="col">
          <br> <h3>Admission requirments</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            <li class="list-group-item">Diploma</li>
            <p>The minimum requirement for enty into Immaculate Nexus Certificate program is:
              <br>A KCSE mean grade of D+( plus), 3 Credits in IGCSE or it's equivalence.
            </p>
            <li class="list-group-item">Certificate</li>
            <p>The minimum requirement for enty into Immaculate Nexus Certificate program is:
              <br> A KCSE mean grade of D+( plus), 3 Credits in IGCSE or it's equivalence.
            </p>
            <li class="list-group-item">Artisan</li>
            <p>The minimum requirement for enty into Immaculate Nexus Certificate program is:
              <br>A KCSE mean grade of D+( plus), 3 Credits in IGCSE or it's equivalence.
            </p>
            <li class="list-group-item">Grade Test</li>
            <p>The minimum requirement for enty into Immaculate Nexus Certificate program is:
              <br>A KCSE mean grade of D+( plus), 3 Credits in IGCSE or it's equivalence.
            </p>
          </ul>
        </div>
        <div class="col justify-content-center"><br><br><br>
          <h3>Residential Life</h3>
          <p>At Immaculate Nexus, we believe that the residential experience is an essential part of the college
            journey. Our on-campus housing options provide students with a comfortable and supportive living
            environment, fostering a sense of community and belonging.</p>
          <h3>Application process</h3>
          <p>All applicants MUST meet the minimum entry requirements for the respective graduate program they wish to
            apply for.Gather all the necessary documents, including academic transcripts, letters of recommendation and
            a personal statement. Our admissions team is here to guide you through the process and answer any questions
            you may have. Get your application letter under(admission letter here). Print the admissionletter and fill in the needed information</p>
        </div>
      </div>
    </div>
    </div>
  </section>



  <!-- --contact us-- -->
  <section class="contact-adm pt-5 pt-5">
    <div class="container">
      <div class="text-center pb-4">
        <h2 class="fw-bold">Registration Form</h2>
      </div>
      <div class="row p-4">
        <div class="col-md-6 mb-3">
          <label for="" class="form-lable">First Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mb-3">
          <label for="" class="form-lable">Last Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mb-3">
          <label for="" class="form-lable">Email Address</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mb-3">
          <label for="" class="form-lable">Phone Number</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mb-3">
          <label for="disabledSelect" class="form-label">Choose a course</label>
          <select id="disabledSelect" class="form-select">
            <option>Diploma in Buisness Management</option>
            <option>Diploma in Human Resource Management</option>
            <option>Diploma in Computerized Secreterial Studies</option>
            <option>Diploma in Front Office & Customer Care</option>
            <option>Diploma in Storekeeeping & Procurement</option>
            <option>Diploma in Enterprenureship</option>
            <option>Diploma in Banking & Finance</option>
            <option>Diploma in Accounting & Finance Management</option>
            <option>Diploma in Diploma Business Administration</option>
            <option>Diploma in Supply Chain Management</option>
            <option>Diploma in Business Management & IT</option>
            <option>Diploma in Accountancy</option>
            <option>Diploma in Catering & Accomodation</option>
            <option>Diploma in Buisness Management</option>

            <option>Certificate in Buisness Management</option>
            <option>Certificate in Human Resource Management</option>
            <option>Certificate in Computerized Secreterial Studies</option>
            <option>Certificate in Front Office & Customer Care</option>
            <option>Certificate in Storekeeeping & Procurement</option>
            <option>Certificate in Enterprenureship</option>
            <option>Certificate in Banking & Finance</option>
            <option>Certificate in Accounting & Finance Management</option>
            <option>Certificate in Diploma Business Administration</option>
            <option>Certificate in Supply Chain Management</option>
            <option>Certificate in Business Management & IT</option>
            <option>Certificate in Accountancy</option>
            <option>Certificate in Catering & Accomodation</option>
            <option>Certificate in Buisness Management</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label for="disabledSelect" class="form-label">How did you hear about us</label>
          <select id="disabledSelect" class="form-select">
            <option>Website</option>
            <option>LinkedIn</option>
            <option>Facebook</option>
            <option>Instagram</option>
            <option>Tiktok</option>
            <option>Google Ads</option>
            <option>Friends & Family</option>
          </select>
        </div>
        <div class="col-md-12">
          <label for="" class="form-lable">Message</label>
          <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="col-md-1">
          <button class="btn btn-outline-dark mt-3">Submit</button>
        </div>
      </div>
    </div>
  </section>
{% include 'footer.html' %}
{% endblock %}  