{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
{% include 'navbar.html' %}
<script>
  // JavaScript code to add 'active' class to the element with ID 'home-nav'
  const homeNav = document.getElementById('courses-nav');
  if (homeNav) {
      homeNav.classList.add('active');
      console.log("Add class");
  }
</script>
<style>
  .sub-header{
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("{% static 'images/pexels-pixabay-256559.jpg' %}");
  }
</style>
  <section class="sub-header">
    <div class="container">
      <div class="row">
            <div class="carousel-container">
              <div class="carousel-topics container">
                <br> <br> <br> <br><br><h1 class="carousel-heading-topics"><span>OUR COURSES</span></h1>
              </div>
            </div>
          </div>
    </div>
  </section>

<!-- <section>
  --courses--
  <section class="course">
    <div class="row">
        <div class="course-col">
            <h3>Artisan</h3>
            <p>business, information technology, psycolgy, accounting, nursing.</p>
        </div>
        <div class="course-col">
            <h3>Certificate</h3>
            <p>business, information technology, psycolgy, accounting, nursing.</p>
        </div><div class="course-col">
            <h3>Diploma</h3>
            <p>business, information technology, psycolgy, accounting, nursing.</p>
        </div>
    </div>

    <div class="row">
        <div class="course-col">
            <h3>KASNEB</h3>
            <p>business, information technology, psycolgy, accounting, nursing.</p>
        </div>
        <div class="course-col">
            <h3>NURSING SCHOOL</h3>
            <p>business, information technology, psycolgy, accounting, nursing.</p>
        </div><div class="course-col">
            <h3>GRADE TEST COURSES</h3>
            <p>business, information technology, psycolgy, accounting, nursing.</p>
        </div>
    </div>

</section> -->

  <!-- --schools-- -->
  <style>
    .btn-outline-dark:hover {
        background-color: #8e2424;
        color: #ffffff;
      }
    </style>
  <section class="about-section pt-5 pb-5" >
    <div class="container">
      <div class="text-center pb-4">
        <h2 class="fw-bold">Academic Programs</h2>
      </div>
      <did class="row">
        <div class="col-md-3 mb-2 mb-lg-0">
          <div class="card">
            <img src="INTC IMAGES/IMMACULACULATE_NEXUS_(1).jpg" alt="">
            <div class="card-body">
              <h5 class="card-tittle course-heading">
                School of Business
              </h5>
              <hr>
              <p>Gain a solid foundation in management, finance, and entrepreneurship. Develop the skills to succeed in the dynamic world of business.</p>
                <a href="{% url 'business' %}" class="btn btn-outline-dark">See More <i class="bi bi-arrow-right-circle-fill"></i> </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2 mb-lg-0">
          <div class="card">
            <img src="INTC IMAGES/IMMACULACULATE_NEXUS_(1).jpg" alt="">
            <div class="card-body">
              <h5 class="card-tittle course-heading">
                School of Information Computer Technology
              </h5>
              <hr>
              <p>Stay ahead of the curve with our cutting-edge programs in computer science, data analysis and digital innovation. Become a tech-savvy problem-solver.</p>
                <a href="{% url 'ict' %}" class="btn btn-outline-dark">See More <i class="bi bi-arrow-right-circle-fill"></i> </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2 mb-lg-0">
          <div class="card">
            <img src="INTC IMAGES/IMMACULACULATE_NEXUS_(1).jpg" alt="">
            <div class="card-body">
              <h5 class="card-tittle course-heading">
                School of Health $ Social Services
              </h5>
              <hr>
              <p>Transform lives and communities with our comprehensive programs in healthcare, social work, and public health. Become a compassionate leader dedicated to improving health and well-being.</p>
                <a href="{% url 'health' %}" class="btn btn-outline-dark">See More <i class="bi bi-arrow-right-circle-fill"></i> </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2 mb-lg-0">
          <div class="card">
            <img src="INTC IMAGES/IMMACULACULATE_NEXUS_(1).jpg" alt="">
            <div class="card-body">
              <h5 class="card-tittle course-heading">
                School of Engineering
              </h5>
              <hr>
              <p>Bring your ideas to life through our rigorous engineering programs. Gain hands-on experience in design, problem-solving and innovation.</p>
                <a href="{% url 'engineering' %}" class="btn btn-outline-dark">See More <i class="bi bi-arrow-right-circle-fill"></i> </a>
            </div>
          </div>
        </div>
      </did> <br>
      <div class="row justify-content-center">
        <div class="col-md-3 mb-2 mb-lg-0">
          <div class="card">
            <img src="INTC IMAGES/IMMACULACULATE_NEXUS_(1).jpg" alt="">
            <div class="card-body">
              <h5 class="card-tittle course-heading">
                School of Fashion Technology
              </h5>
              <hr>
              <p>Unleash your creative flair and master the art of fashion design, textile production, and garment construction. Prepare for a dynamic career in the industry</p>
                <a href="{% url 'fashion' %}" class="btn btn-outline-dark">See More <i class="bi bi-arrow-right-circle-fill"></i> </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2 mb-lg-0">
          <div class="card">
            <img src="INTC IMAGES/IMMACULACULATE_NEXUS_(1).jpg" alt="">
            <div class="card-body">
              <h5 class="card-tittle course-heading">
                School of Counselling and Psychology
              </h5>
              <hr>
              <p>Explore the human mind and learn how to support others. Develop empathy, communication skills and evidence-based therapeutic approaches</p>
                <a href="{% url 'counselling' %}" class="btn btn-outline-dark">See More <i class="bi bi-arrow-right-circle-fill"></i> </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2 mb-lg-0">
          <div class="card">
            <img src="INTC IMAGES/IMMACULACULATE_NEXUS_(1).jpg" alt="">
            <div class="card-body">
              <h5 class="card-tittle course-heading">
                Computer Packages
              </h5>
              <hr>
              <p>1.Office Productivity<br>
                2.Web Development<br>
                3.Programming & Coding<br>
                4.Database Management<br>
                5.Cybersecurity<br></p>
                <a href="" class="btn btn-outline-dark">See More <i class="bi bi-arrow-right-circle-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ----- exam bodies----- -->
  <style>
    .facilities{
        background-color: #736f6f;
        color: #fff;
    }
    </style>
  <section class="facilities text-white">
    <div class="container">
      <h1>Examination bodies    </h1>
      <p>1. TVET -CDACC: Technical and Vocational Education and Training Certificate accredited by the
        Curriculum Development Assessment and Certification Council
        </p>
        <p>2. NITA: National Industrial Training Authority for vocational training and certification
          </p>
          <p>3. KASNEB: Kenya Accountants and Secretaries National Examinations Board for business and finance
            qualifications
            </p>
            <p>4. KASNEB: Kenya Accountants and Secretaries National Examinations Board for business and finance
              qualifications
              </p> <br> <br> <br>
    </div>
  </section>



  
{% include 'footer.html' %} {% endblock %}