{% load static %}
  <!-- --footer-- -->
  <footer class="mt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <hr style="width: 60px; background-color: #8e2424;">
          <img src="{% static 'images/IMMACULACULATE NEXUS (1).jpg' %}" width="40.5%" height="62%" alt=""> <br><br>
          <div class="icons">
            <a href="#"><i class="bx bxl-facebook-circle"></i></a>
            <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
            <a href="#"><i class='bx bxl-tiktok' ></i></a>
            <a href="#"><i class="bx bxl-youtube"></i></a>
          </div>
        </div>
         <div class="col-md-4">
          <br> <br> <h4>Links</h4>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'courses' %}">Courses</a></li>
          <li><a href="{% url 'admissions' %}">Admission</a></li>
          <li><a href="{% url 'events' %}">Events</a></li>
         </div>
         <div class="col-md-4">
            <h4></h4>
            <br> <br> <li><a href="#">Application letter</a></li>
            <li><a href="#">Map</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQs</a></li>
          </div>
      </div>
    </div>
  </footer>