{% load static %}
<header>
    <div id="topbar" class="primary-color align-items-center pt-2 pb-2 text-dark
      d-none d-lg-flex">
      <div class="container">
        <div class="row left-info">
          <div class="col-lg-8 text-start">
            <span class="top-header-span me-3 pt-2"> <i class="bi bi-geo-alt-fill mx-1"></i> KIRINYAGA COUNTY</span>
            <span class="me-3 top-header-span"> <i class="bi bi-telephone-alt-fill mx-1"></i> +254 701797933 / +254
              720478382</span>
            <span><a href="" class="me-3"><button class="btn btn-light btn-sm top-header-span"><i
                    class="bi bi-telephone-fill me-1"></i>Contact Us</button></a></span>
          </div>
          <div class="col-lg-4 text-center col-sm-6 text-lg-end">
            <a href="" class="me-3"> <button class="btn btn-light btn-sm top-header-span"><i
                  class="bi bi-telephone-fill mx-1"></i> Apply</button></a>
            <a href="" class="text-white me-3 fw-bold"><i class="bi bi-download"></i></a>
          </div>
        </div>
      </div>

    </div>
  </header>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img height="120px" src="{% static 'images/logo.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-1 mb-lg-0 text-uppercase">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'courses' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Diploma Courses</a></li>
              <li><a class="dropdown-item" href="#">Certificate Courses</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admissions' %}">Admissions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'events' %}">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts' %}">Contacts</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control ms-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>